<h1>
    Yeni Marka
</h1>

<div class="row">
    <div class="col-12 col-sm-10 col-md-7 col-lg-5">
        @if (ViewData.ContainsKey("ResultMessage"))
        {
            @MessageHelper.DisplayError(ViewBag.ResultMessage)
        }
        <!-- 
            Aslında form action bildirmezseniz bile otomatik olarak mevcut sayfanın
            URL'i kabul edilir.
            Ancak yine de action değerini YAZMAKTA FAYDA VAR.
        -->
        <form asp-controller="VehicleMakes" asp-action="Create" method="post">
            <div class="mb-3">
                <label for="name" class="form-label">Marka Adı</label>
                <input type="text" id="name" name="name" class="form-control" />
            </div>
            <div class="mb-3">
                <div class="float-end">
                    <button class="btn btn-success">
                        Kaydet
                    </button>
                    <button asp-controller="VehicleMakes" asp-action="Index" class="btn btn-warning">
                        İptal
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>